body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

main {
    position: relative;
    flex: 1;
}

footer {
    height: 16px;
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
    opacity: 0.7;
    padding: 2px 0;
}

a {
    color: #03f;
}

a:hover {
    text-decoration: none;
}

.app-wrapper {
    width: 100%;
}

.app-view {
    box-sizing: border-box;
    height: calc(100vh - 140px);
    overflow: auto;
    padding: 2em;
}

.app-resize-handle {
    position: relative;
    height: 6px;
    background-color: #333;
    cursor: row-resize;
}

.app-resize-handle::after {
    content: "";
    position: absolute;
    top: 2px;
    left: calc(50% - 4px);
    height: 2px;
    width: 8px;
    background-color: #aaa;
    border-radius: 2px;
}

.app-resize-handle:hover {
    opacity: .7;
}

.app-output {
    height: calc(100% - 6px);
    box-sizing: border-box;
    background-color: white;
    padding: 1em 2em;
    overflow: auto;
}

.app-output * {
    opacity: 1;
    transition: opacity .3s ease;
}

.app-output select {
    position: sticky;
    top: 0;
    display: block;
    margin-left: auto;
    margin-bottom: -2em;
}

.dragging-app .app-output {
    overflow: hidden;
}

.resizing-app .app-output {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.boxy {
    position: relative;
    display: flex;
    flex-direction: row;
}

.boxy-car, .boxy-cdr {
    position: relative;
    min-width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid;
}

.boxy-car:hover, .boxy-cdr:hover {
    background-color: rgb(255, 255, 100);
}

.dragging-app .boxy-car:hover, .dragging-app .boxy-cdr:hover {
    background-color: lightgreen;
    box-shadow: 0 0 15px skyblue;
}

.boxy + .boxy-wrapper {
    margin-top: 10px;
}

.boxy-wrapper + .boxy-wrapper {
    margin-top: 20px;
}

.boxy-car {
    font-family: monospace;
    line-height: 20px;
    text-align: center;
    padding: 0 4px;
}

.boxy-cdr:not(:last-child) {
    margin-right: 20px;
}

.dragging {
    position: fixed;
    opacity: .7;
    box-shadow: 0 0 15px gold;
    z-index: 100;
}

line {
    stroke: black;
}

.downwards-arrow {
    position: absolute;
    top: 10px;
    height: 100%;
    width: 30px;
    pointer-events: none;
}

.rightwards-arrow {
    position: absolute;
    left: 50%;
    width: 31px;
    height: 100%;
    pointer-events: none;
}

.downwards-arrow svg {
    position: absolute;
    bottom: 0;
}

.rightwards-arrow svg {
    position: absolute;
    right: 0;
}

.downwards-arrow::before {
    position: absolute;
    left: calc(50% - 1px);
    content: "";
    width: 2px;
    height: 100%;
    background: black;
}

.rightwards-arrow::before {
    position: absolute;
    top: calc(50% - 1px);
    content: "";
    height: 2px;
    width: 100%;
    background: black;
}

.changeable-text {
    width: 100%;
    height: 100%;
}

.changeable-text span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.output-highlighted, .view-highlighted {
    background-color: rgb(255, 255, 100);
}

.output-outlined, .view-outlined {
    outline: 2px solid gold;
}

.view-controls {
    height: 0;
    overflow: hidden;
    transition: .3s height;
}

.dragging-app .view-controls {
    height: 115px;
}

.dragging-app .view-controls ~ * {
    opacity: .5;
}

.add-to-nodes,
.dup-node,
.delete-node {
    display: inline-block;
    margin-bottom: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.add-to-nodes.drag-active,
.dup-node.drag-active {
    background: lightgreen;
}

.delete-node.drag-active {
    background: salmon;
}
